img {
	width:100%;
	height:100%;
	border-radius: 8px;
}

body {
	font-family:Courier New;
}

td {
	background-color:#b8dec7;
	font-size:20px;
}

table {
   border-right-style: dotted;
   border-top-style: solid;
   border-left-style: dotted;
   border-bottom-style: solid;
   border-color:#000000;
   border-width:3px;
   margin:2px;
   border-image: url(Images/border.png) 30 round;
   text-align: center;
}

th {
	border-style:dashed;
	background-color:#53db89;
}

.ind {
   text-shadow: 2px 2px #e5d2f7;
   font-weight: bold;
   font-size:25px;
   background-color:#abf7ca;
   border-style:dashed;
}

.orange {
	background-color:#e3ba34;
}

.green {
	background-color:#40db35;
}

.purple {
	background-color:#bd35db;
}

.blue {
	background-color:#35c2db;
}

.red {
	background-color:#db3535;
}

.yellow {
	background-color:#d6d333;
}

.block:hover {
    -webkit-transform: scale(1.1,1.1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 225ms;
    transform:rotate3d(130deg,150deg,150deg);
}

.orange:hover {
	color:#e3ba34;
}

.green:hover {
	color:#40db35;
}

.purple:hover {
	color:#bd35db;
}

.blue:hover {
	color:#35c2db;
}

.red:hover {
	color:#db3535;
}

.yellow:hover {
	color:#d6d333;
}

.two {
	font-weight:bold;
}

a:link {
	color:black;
}
 
a:visited {
	color:red;
}